@import './../../../assets/style/mixin.scss';
.order {
    text-align: center;
    margin-bottom: 5rem;
    overflow: hidden;
    max-width: 100%;
    & .order-title {

        color: 
        #fbb403;
        font-size: 1.8rem;
        font-weight: 400;
        padding: 5px;
    }
    & .order-heading {
        padding: 10px;
        font-size: 3.4rem;
        color: #292929;
        margin-bottom: 5rem;
    }
}
.order-step {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    @include mobile-maxwidth {
    grid-template-columns: repeat(1, 1fr);

    }
    & .delivery {
        position: relative;
        display: inline-block;
        &:hover span {
            background-color: white;
            border-color: #ff514e;
            color: #ff514e;
            transition: 0.3s;
        }
        & p {
            color: 
            #5a5a5a;
            font-size: 1.8rem;
            font-weight: 600;
            padding: 10px;
            margin: 10px 0;
            &:hover {
                color: #ff514e;
            }
        }
        & span {
            width: 6.5rem;
            height: 6.5rem;
            background-color: #ff514e;
            border: 0.5rem solid white;
            position: absolute;
            top: -20px;
            right: -20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.4rem;
            color: white
            
        }
        & .arrow {
            position: absolute;
            top: 30%;
            left: 100%;
            @include tablet-maxwidth {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1200px ) {
    .order-step {
        grid-template-columns: repeat(2, 1fr);

    }
    
        
}
@media screen and (max-width: 575.98px ) {
    .order-step {
        grid-template-columns: repeat(1, 1fr);

    }
    
        
}