@import './../../../assets/style/mixin.scss';

.products {
    padding: 10rem #{var(--padding-horzi-nav)};
    text-align: center;
    background-color: white;
    @include desktop-maxwidth {
        padding: 1rem 2rem;
        max-width: 100%;
        overflow: hidden;
    }
    & .swiper {
        z-index: 0;
    }
    & .products-title {
        color: 
        #fbb403;
        font-size: 1.8rem;
        font-weight: 400;
        padding: 5px;
    }
    & .products-heading {
        padding: 5px;
        font-size: 3.4rem;
        color: #292929;
        font-weight: bold;
        padding-bottom: 2.5rem;
        & span {
            font-size: 3.4rem;
            color: #ff514e;
            font-weight:bold;
        }
    }
}

.swiper-wrapper {
    max-width: 100%;
    border: 1px solid red;
}