@import './../../assets/style/mixin.scss';
 button {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;

    padding: 1rem 1.5rem;
    color: white;
    border-radius: 2rem;
    outline: none;
    border: none;
    background-color: opacify($color: #ff514e, $amount: 0.3);
    transition: 0.5s;
    cursor: pointer;
    &:hover {
    background-color: opacify($color: #ee2420, $amount: 1);

    }
    & .icon-material {
        font-size: 2rem;
        
    }
}