@import './../../../assets/style/mixin.scss';
.fooddesc {
    padding: 5px 30px;
    @include desktop-maxwidth {
        flex-direction: column;
        padding: 5px 10px ;
    }
    & .desc {
        line-height: 1.6;
        @include desktop-maxwidth {
            flex-direction: column;
            padding: 0rem 0rem ;
        }
     
    } 
    & table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 30px;
    
        & tr:first-child {
           & td {
            padding: 10px 0 25px ;
            text-align: center;
            border-bottom: 1px solid #ccc;
            & h4 {
                font-size: 2.7rem;
                padding-bottom: 5px;
            }
            &:first-child {
                border-right: 1px solid #ccc;
                & h4 {
                    font-size: 1.8rem;
                }
            }
           }

        }
        & tr:last-child {
            & td {
                padding: 15px 0 5px;
                &:first-child {
                    border-right: 1px solid #ccc;
                    & h4 {
                        font-size: 1.8rem;
                    }
                }
            text-align: center;


               }
        }
    }
}
