@import './../../assets/style/mixin.scss';

.bestfood {
    text-align: center;
    @include tablet-maxwidth {
        display: none;
    }
    & .bestfood-title {
        color: 
        #fbb403;
        font-size: 1.8rem;
        font-weight: 400;
        padding: 5px;
    }
    & .bestfood-heading {
        padding: 10px;
        font-size: 3.4rem;
        color: 
        #292929;
    }
    & span {
        font-size: 3.4rem;
        color: #ff514e;
        font-weight:700;
    }
    & .bestfood-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}