
.popular-list {
    display: flex;
    flex-direction: column;

    .popular-heading {
        font-size:2rem;
        font-weight: 600;
        border-bottom: 1px solid rgba(0,0,0,.15);

        padding: 10px 5px;
        margin-bottom: 5px;
    }
    & .active {
        background-color: #E6E6FA;
        border-radius: 5px;

    }   
    &__item {
        padding: 6px 8px;
        cursor: pointer;
        margin-top: 5px;

        border-radius: 5px;
    display: flex;
    align-items: center;
    color: rgba(0,0,0,.84);
    transition: 0.3s;
    &:hover {
        background-color: #E6E6FA;
    }
        & span {
            display: inline-block;
            padding: 0 10px 0 0;
            &.item-name {
                font-size: 1.6rem;
            }
            & img {
                width: 20px;
                height: 20px;
                object-fit: cover;
              
            }
        }
    }

    
}
