@import './../../../assets/style/mixin.scss';
.sort-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    @include mobile-maxwidth {
      display: none;
    }
    & .sort-item {
        color: 
        #8c8c8c;
    
      & .sort-icon {
        font-size: 35px;
   
      }
    }
    & .active-icon {
      color: #ff514e !important;
    }
}